asgiref==3.11.0
attrs==25.4.0
branca==0.8.2
certifi==2026.1.4
charset-normalizer==3.4.4
Django==5.0.1
djangorestframework==3.14.0
drf-spectacular==0.29.0
folium==0.20.0
idna==3.11
inflection==0.5.1
Jinja2==3.1.6
jsonschema==4.26.0
jsonschema-specifications==2025.9.1
MarkupSafe==3.0.3
numpy==2.4.1
pillow==12.1.0
psycopg2-binary==2.9.9
pytreefind==0.1.1
pytz==2025.2
PyYAML==6.0.3
referencing==0.37.0
requests==2.31.0
rpds-py==0.30.0
sqlparse==0.5.5
typing_extensions==4.15.0
uritemplate==4.2.0
urllib3==2.6.3
xyzservices==2025.11.0
